.authpage{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.authcont{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 70vh;
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 10%;
}

.authcont img{
    width: 50%;
    height: 100%;
    object-fit: fill;
}

.authform{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    gap: 5px;
}

.authforms{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    gap: 5px;
}

.authcont .formgroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin: 5px 0px;
}

.authform label{
    font-size: 17px;
    font-weight: 500;
    color: var(--col1);

}

.authform input, .authforms input{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: var(--col1);
    background-color: white;
}

.authform button, .authforms button {
    width: 100%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--col1);
    background-color: var(--col1);
    cursor: pointer;
}

.authform button:hover, .authforms button:hover{
    background-color: green;
    color: white;
}

.authform p, .authforms p{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.authform p:hover, .authforms p:hover{
    color: var(--col1);
    cursor: pointer;
}

.authform .or{
    text-align: center;
    margin: 10px 0px;
    padding: 0px;
    font-size: 20px;
    color: darkgray;
}

.form-group-row{
    display: flex;
    gap: 10px;
}